<h1>Login Setup</h1>
<h2>Google OpenID</h2>
<form method="post" class="well">
    <label for="google-openid-secret">Google OpenID Secret</label>
    <input name="google-openid-secret" type="text" class="span3" [% UNLESS google_oid %]placeholder="Enter secret..."[% ELSE %]value=[% google_oid.openid_secret %][% END %]></input>
    <input type="submit" value="Set OpenID Secret"></input>
</form>
