<div class="jumbotron subhead">
    <h1>Contact</h1>
</div>
<section id="contact">
    <div class="row">
        <div class="span4">
            <h2>Developer</h2>
            Paul Salcido
        </div>
        <div class="span4">
            <h2>Issues?</h2>
        </div>
        <div class="span4">
            <h2>Suggestions?</h2>
        </div>
    </div>
</section>
